@import './_mixins';

$colorBlue: #00489D;
$colorLightBlue: #4A90E2;
$colorRed: #D50000;
$colorDarkGrey: #4A4A4A;
$colorPlaceholderDefault: rgba(0,0,0,0.38);
$colorInputDefault: rgba(0,0,0,0.87);
$navHeight: 64;
$navHeightXs: 120;
$mobileMaxWidth: 1023;

@include font-face(OpenSans-Bold, '../fonts/OpenSans-Bold', null, null, ttf);

$fontFamilyOpenSans: 'Open Sans';
////$fontFamilyOpenSansBold: 'Open Sans Bold', arial;
$fontFamilyOpenSansBold: 'OpenSans-Bold';

html,
body {
  min-height: 100%;
}

body {
  padding-right: 0 !important;
  background: url('../img/lb.svg') left bottom -400px no-repeat;
  @media (max-width: #{$mobileMaxWidth}px) {
    background-position: left -200px bottom -400px;
  }
}

.modal-backdrop {
  opacity: 0.4;
  background: $colorBlue;
}

.modal-dialog {
  overflow: hidden;
  &.modal-full {
    min-width: 100%;
    margin: 0;
    .modal-content {
      min-height: 100vh;
    }
  }
  align-items: center;
  .modal-header {
    border: none;
    img {
      width: 36px;
      height: 36px;
      margin-left: auto;
      cursor: pointer;
      transition: transform .4s ease-in-out;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: #{$mobileMaxWidth}px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    a {
      color: $colorBlue;
      &.btn-link {
        color: $colorDarkGrey;
      }
      text-decoration: none;
      font-family: $fontFamilyOpenSansBold;
      font-size: 20px;
      letter-spacing: 0;
      margin-top: 50px;
      &:hover {
        text-decoration: underline;
      }
    }
    div {
      width: 100%;
      label {
        display: none;
        width: 100%;
        margin-top: 5px;
        font-family: 'Roboto';
        font-size: 12px;
        color: $colorRed;
        i {
          float: right;
          font-size: 15px;
          @media (max-width: #{$mobileMaxWidth}px) {
            display: none;
          }
        }
      }
      input {
        width: 100%;
        height: 35px;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $colorLightBlue;
        transition: border-bottom-color .5s ease-out;
        margin-top: 32px;
        font-family: 'Roboto';
        font-size: 16px;
        color: $colorInputDefault;
        line-height: 24px;
        &::placeholder {
          color: $colorPlaceholderDefault;
        }
        &:not(:placeholder-shown) {
          border-width: 2px;
          border-color: $colorBlue;
        }
        &:focus {
          outline: none;
          border-width: 2px;
          border-color: $colorBlue;
        }
        &:disabled {
          color: $colorPlaceholderDefault;
          border-bottom-color: $colorPlaceholderDefault;
          border-bottom-style: dotted;
          background-color: #ffffff;
        }
      }
      @media (max-width: #{$mobileMaxWidth}px) {
        width: 80%;
      }
    }

    .error {
      label {
        display: block;
      }
      input {
        border-width: 2px;
        border-color: $colorRed;
      }
    }
    .btn-blue {
      width: 180px;
      height: 60px;
      margin-top: 45px;
    }
  }
  h2 {
    font-family: $fontFamilyOpenSansBold;
    font-weight: 600;
    font-size: 36px;
    color: $colorDarkGrey;
    letter-spacing: 0;
    text-align: center;
  }
}

.mobileOnly {
  @media (min-width: #{$mobileMaxWidth+1}px) {
    display: none !important;
  }
}

.desktopOnly {
  @media (max-width: #{$mobileMaxWidth}px) {
    display: none !important;
  }
}

.navbar-custom {
  background-color: #ffffff;
  color: $colorBlue;
  height: #{$navHeight}px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
  .navbar-brand img {
    width: 77px;
  }
  .btn {
    margin-left: 12px;
    height: auto;
    &:nth-child(2) {
      margin-left: auto;
    }
  }
}

.btn-link {
  color: $colorDarkGrey;
  border: none;
  font-family: $fontFamilyOpenSansBold;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0;
  &:hover {
    color: $colorLightBlue;
    text-decoration: none;
  }
}

.btn-bars {
  color: $colorBlue;
  border: none;
  font-family: $fontFamilyOpenSansBold;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0;
  margin-left: 0px !important;
  &:hover {
    color: $colorLightBlue;
    text-decoration: none;
  }
}

.btn-custom {
  border: 2px solid $colorBlue;
  border-radius: initial;
  font-family: $fontFamilyOpenSansBold;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0;
  &:active {
    background-color: $colorLightBlue;
    color: #ffffff;
  }
}

.btn-white {
  background-color: #ffffff;
  color: $colorBlue;
  &:hover {
    background-color: $colorBlue;
    color: #ffffff;
  }
}

.btn-blue {
  background-color: $colorBlue;
  color: #ffffff;
  &:hover {
    background-color: #ffffff;
    color: $colorBlue;
  }
}

.uppercase {
  text-transform: uppercase;
}

.triangle {
  width: 10px;
  height: 20px;
  display: inline-block;
  background: url('../img/triangle.svg') center no-repeat;
  margin-bottom: -1px;
}

section.section1 {
  height: 209px;
  text-align: center;
  background: url('../img/rt.svg') right 20% top no-repeat;
  overflow: hidden;
  margin-top: #{$navHeight}px;
  @media (max-width: #{$mobileMaxWidth}px) {
    background-position: left top;
  }
  h1 {
    font-family: $fontFamilyOpenSansBold;
    font-size: 36px;
    color: $colorBlue;
    letter-spacing: 0;
  }
}

section.section2 {
  height: 446px;
  background: $colorBlue;
  flex-wrap: wrap;
  .part {
    width: 456px;
    height: 350px;
    &.left {
      background: url('../img/leftGroup.png') right center no-repeat;
    }
    &.right {
      background: url('../img/rightGroup.png') left center no-repeat;
    }
  }
  .overlay1 {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: url('../img/overlay.svg') right center no-repeat;
  }

  .overlay2 {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0;
    background: url('../img/overlay.svg') right center no-repeat;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

    .content {
      margin: 0 180px;
      align-self: center;
      text-align: center;
      h2 a {
        font-family: $fontFamilyOpenSansBold;
        font-weight: 600;
        font-size: 24px;
        color: $colorBlue;
        letter-spacing: 0;
        //margin-bottom: 30px;
      }
      .btn-custom {
        margin: 0 auto;
        width: 123px;
      }
    }
  }

  @media (max-width: #{$mobileMaxWidth}px) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    .wrapper {
      flex-direction: column;
      .content {
        margin: 130px 0;
        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }

}

section.section3 {
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
  img {
    width: 83px;
    margin-top: 80px;
  }
  a {
    font-family: $fontFamilyOpenSansBold;
    font-weight: 600;
    font-size: 16px;
    color: $colorDarkGrey;
    letter-spacing: 0;
    text-decoration: none;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  .wrapper {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    .content {
      width: 300px;
      margin: 0 100px;
      align-self: center;
      text-align: center;
    }
  }
  @media (max-width: #{$mobileMaxWidth}px) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    .wrapper {
      flex-direction: column;
    }
  }
}

section.section-content {
  /*background: $colorBlue;*/
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  div.container {
    /*background: $colorDarkGrey;*/
    padding-top: 10px;
    padding-bottom: 20px;
    h1, h2, h3, p {
      margin-bottom: 1rem;
      clear: left;
    }
    ol {
      ol {
        list-style-type: upper-roman;
      }
    }
  }
}