/* colors */
/* colors */
/*fonts*/
/*Gotham*/
/*fonts*/
/*functions*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: OSBold, sans-serif, sans-serif;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
/* For modern browsers */
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
